<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steve.boot.launch.mapper.db2.MessageMapper">
    <insert
            id="saveMessage"
            parameterType="com.steve.boot.launch.mapper.db2.Message"
            flushCache="true"
            statementType="PREPARED"
            keyProperty="id"
            keyColumn="id"
            useGeneratedKeys="true"
            timeout="20">
        insert into Message (id,name,content,create_time,update_time)
        values (#{id},#{name},#{content},#{createTime},#{updateTime})
    </insert>

    <update
            id="updateMessage"
            parameterType="com.steve.boot.launch.mapper.db2.Message"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">
        update Message set
                           name = #{name},
                           content = #{content},
                           create_time = #{createTime},
                           update_time = #{updateTime}
        where id = #{id}
    </update>
    <delete
            id="deleteMessage"
            parameterType="long"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">
        delete from Message where id = #{id}
    </delete>

    <select
            id="getMessage"
            parameterType="java.lang.Long"
            flushCache="true"
            useCache="true"
            timeout="10"
            fetchSize="256"
            statementType="PREPARED"
            resultType="com.steve.boot.launch.mapper.db2.Message">
        select id,name,content,create_time,update_time from Message
        where id = #{id}
    </select>

    <select
            id="getAll"
            parameterType="long"
            flushCache="true"
            useCache="true"
            timeout="10"
            fetchSize="256"
            statementType="PREPARED"
            resultType="com.steve.boot.launch.mapper.db2.Message">
        select id,name,content,create_time,update_time from Message
    </select>

</mapper>