<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error.html</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<!--    <h1>exception.toString()</h1>-->
<!--    <div><td th:text="${exception.toString}"></td></div>-->

<!--    <h1>exception.message</h1>-->
<!--    <div><td th:text="${exception.getMessage}"></td></div>-->

    <h1>url</h1>
    <div><td th:text="${url}"></td></div>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</div>
</body>
</html>